<form action="/createSomeEntity" class="span-18 prepend-6" method="post">
	<h3>Create User</h3>
 	<table>
		<tr>
			<td>
				Name
			</td>
			<td>
				<input type="text" class="text" name="name" >
			</td>
		</tr>
		<tr>
			<td>
				User
			</td>
			<td>
				<input type="text" class="text" name="user" >
			</td>
		</tr>
		<tr>
			<td>
				Tags
			</td>
			<td>
				<input type="text" class="text" name="tags" >
			</td>
		</tr>
		<tr>
			<td>
				Text
			</td>
			<td>
				<input type="text" class="text" name="text" >
			</td>
		</tr>
		
	</table>
	<input type="submit" value="Create Some Entity">
	
</form>